[submodule "api"]
	path = api
	url = https://github.com/sitespectrum/stickers_api.git
	branch = master
[submodule "web"]
	path = web
	url = https://github.com/sitespectrum/stickers_web.git
	branch = master
[submodule "desktop"]
	path = desktop
	url = https://github.com/sitespectrum/stickers_desktop_qnd.git
