[submodule "api"]
	path = api
	url = ../stickers_api.git
	branch = master
[submodule "web"]
	path = web
	url = ../stickers_web.git
	branch = master
[submodule "desktop"]
	path = desktop
	url = ../stickers_desktop_qnd.git
